        /* reset  */
        *{padding:0;margin:0;}
        /* content */
        .zt-form-content{
            width: 600px;
            padding:30px;
        }
        .zt-form-body {
            
        }
        .zt-form-item{
            width: 100%;
            margin-bottom: 15px;
            clear: both;
            *zoom: 1;
        }
        .zt-form-item::after {
            content: '';
            clear: both;
            *zoom: 1;
            display: block;
            height: 0;
        }
        .zt-form-body select ,.zt-form-body textarea{
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            outline:none;
            border-color: #e6e6e6;
            width: 350px;
        }
        .zt-form-body select {
            line-height: 40px;
            height: 40px;
            width: 370px;
        }
        .zt-province,.zt-city,.zt-type {
            line-height: 40px;
            height: 40px;
        }
        .zt-form-label {
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right;
        }
        .zt-desc,.zt-title{
            line-height: 20px;
            padding: 6px 10px;
            resize: vertical;
            display: block;
        }
        .zt-title{
            height:40px;
        }
        .zt-desc{
            height: 100px;
        }
        .zt-input-block{
            float: left;
            min-height: 36px;
            padding: 9px 15px;
            width: 400px;
        }
        .zt-btn{
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }
        .zt-btn:hover {
            opacity: .8;
            filter: alpha(opacity=80);
            color: #fff;
        }
        .zt-cancel {
            background:#FFB800;
            margin-left: 50px;
        }
        .btn-group{
            text-align: center;
        }
        .zt-hidden {
            display: none;
        }
        .zt-toast{
            position: absolute;
            left:0;
            right:0;
            bottom:0;
            top:0;
            display: none;
        }
        .zt-toast.zt-show{
            display: block;
        }
        .zt-toast p{
            border-radius: 3px;
            font-size: 14px;
            text-align: center;
            line-height: 16px;
            padding:15px;
            width: 100px;
            background: rgba(0,0,0,0.7);
            position: absolute;
            left: 50%;
            top:50%;
            color: #fff;
        }